.pers__main{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: violet;
    color: white;
    text-align: center;
.image__div{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 300px;
        border-radius: 15px;
    }
}
}

.prise{
    margin-top: 250px;
}
